.card {
    display: flex;
    align-items: center;
}

.card__username {
    max-width: 60%;
    margin-left: 4px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__button {
    margin-left: auto;
}
