.sidebar {
    border-right: 1px solid rgba(5, 5, 5, 0.06);
}

.sidebar__userCard {
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    border-radius: 0;
    box-shadow: none !important;
}
